<div class="container col-md-4" >
    
        <h1>Login</h1><hr>
    <form (ngSubmit)="onSubmit()" class="col-12">
        <div class="form-group">
            <label for="email">Enter Email</label>
            <input type="text" name="email" id="email" placeholder="kitchenstory@123" class="form-control" [(ngModel)]="ad.email">
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password" placeholder="*********" class="form-control" [(ngModel)]="ad.password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    
    </form>
</div>
    